<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lange="en" lang="en">
<head>
    <title>Error</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

</head>
<body>
    <p > <a href="/home"> Home </a> </p>
    <p> Sorry, second check cannot be performed by the same person.</p>
    <p> </p>
    <ul>
        {% for error in form %}
        <p> {{error}}</p>
        {% endfor %}
    </ul>

    <p> If the error is a problem with the d_number click <a href="/results">here</a> to check that this sample does not already exist or to modify sample.</p>
    <p> To enter new data, click <a href="/input">here</a>.</p>
</body>
</html>
